
*.vsidx
Week2/Week2Exercise6_Strange_Repetitive_Display_of_Numbers/.vs/Week2Exercise6_Strange_Repetitive_Display_of_Numbers/v17/.suo
Week2/Week2Exercise10_Vowels_and_Consonants/.vs/Week2Exercise10_Vowels_and_Consonants/v17/DocumentLayout.json
Week5/Week5Exercise1_DoesNumberExistInArray/.vs/Week5Exercise1_DoesNumberExistInArray/v17/.suo
Week5/Week5Exercise1_DoesNumberExistInArray/.vs/Week5Exercise1_DoesNumberExistInArray/v17/DocumentLayout.json
Week5/Week5Exercise1_DoesNumberExistInArray/.vs/Week5Exercise1_DoesNumberExistInArray/v17/DocumentLayout.json
